<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <style>
        .jumbotron {
            width: 400px;
            margin-top: 20px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 40px 20px;
        }
        .table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .selecionado {
            background-color: yellow;
        }
        .negrito {
            font-weight: bold;
        }
    </style>
    <script> 
        var app = angular.module("listaTelefonica", []);
        app.controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Pedro", telefone : "99991123"},
                {nome: "Ana", telefone : "96991123"},
                {nome: "Jose", telefone : "99993123"},
                {nome: "Pedro", telefone : "99591123"},
            ];
            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            }
            $scope.operadoras = [
                {nome: "Oi", codigo: 14, categoria: "Celular"},
                {nome: "Vivo", codigo: 15, categoria: "Celular"},
                {nome: "Tim", codigo: 41, categoria: "Celular"},
                {nome: "GVT", codigo: 25, categoria: "Fixo"},
                {nome: "NET", codigo: 21, categoria: "Fixo"}
            ];
            $scope.apagarContatos = function (contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if(!contato.selecionado){
                        return contato;
                    }
                }) 
            }
            $scope.isContatoSelecionado = function(contatos){
                return contatos.some(function (contato){
                    return contato.selecionado;
                });
            }
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                    <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                </tr>
            </tr>
        </table>
        <hr/>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione a operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>
</body>
</html>