<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.min.js"></script>
	<style>
		.jumbotron {
			width: 400px;
			margin-top: 20px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			padding: 40px 20px;
		}

		.table {
			margin-top: 20px;
		}

		.form-control {
			margin-bottom: 5px;
		}

		.selecionado {
			background-color: yellow;
		}

		.negrito {
			font-weight: bold;
		}
	</style>
	<script>
		var app = angular.module("listaTelefonica", ["ngMessages"]);
		app.controller("listaTelefonicaCtrl", function ($scope, $http) {

			$scope.app = "Lista Telefonica";
			$scope.contatos = [];

			$scope.adicionarContato = function (contato) {
				$http({
					method: 'POST',
					url: 'http://localhost:3000/contatos',
					data: contato
				}).then(function (success) {
					delete $scope.contato;
					$scope.contatoForm.$setPristine();
					carregarContatos();
				}, function (error) {
					console.log(error);
				});
			};

			var carregarContatos = function () {
				$http({
					method: 'GET',
					url: 'http://localhost:3000/contatos'
				}).then(function (success) {
					$scope.contatos = success.data;
				}, function (error) {
					console.log(error);
				});
			}

			var carregarOperadoras = function () {
				$http({
					method: 'GET',
					url: 'http://localhost:3000/operadoras'
				}).then(function (success) {
					$scope.operadoras = success.data;
				}, function (error) {
					console.log(error);
				});
			}

			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter(function (contato) {
					if (!contato.selecionado) {
						return contato;
					}
				})
			};

			$scope.isContatoSelecionado = function (contatos) {
				return contatos.some(function (contato) {
					return contato.selecionado;
				});
			};

			$scope.ordenarPor = function (campo) {
				$scope.criterioDeOrdenacao = campo;
				$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
			};

			carregarContatos();
			carregarOperadoras();

		});
	</script>
</head>

<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3 ng-bind="app"></h3>
		<table class="table">
			<tr>
				<input class="form-control" ng-model="busca" placeholder="Buscar">
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:busca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
					<td><input type="checkbox" ng-model="contato.selecionado" /></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
					<td>{{contato.data | date:'dd/MM/yy'}}</td>
				</tr>
			</tr>
		</table>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"
			/>
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true"
			 ng-pattern="/^\d{4,5}-\d{4}$/" />
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras |orderBy:'nome'">
                <option value="">Selecione a operadora</option>
            </select>
		</form>
		<div ng-messages="contatoForm.nome.$error">
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class="alert alert-danger">
				Nome deve ter no mínimo 10 caracteres.
			</div>
		</div>
		<div ng-messages="contatoForm.telefone.$error">
			<div ng-messages="required" class="alert alert-danger">
				Por favor, preencha o campo telefone!
			</div>
			<div ng-message="pattern" class="alert alert-danger">
				Telefone deve ter o formato dddd-dddd.
			</div>
		</div>

		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contatos</button>
	</div>
</body>

</html>